--extra-index-url https://download.pytorch.org/whl/cpu

# PyTorch: for non-Windows
torch==2.9.1; platform_system != "Windows"

# PyTorch for Windows via DirectML backend
torch-directml; platform_system == "Windows"

# Common deps
numpy
opencv-python
pillow
onnx
onnxscript
tqdm
