name: Build

on:
  workflow_dispatch:
    inputs:
      publish-release:
        description: 'Publish Release'
        type: boolean
        default: false
      publish-pre-release:
        description: 'Mark as Pre-Release'
        type: boolean
        default: false
      version-number:
        description: 'Version Number for Release'
        type: string
    
jobs:
  build:
    defaults:
      run:
        shell: bash
    
    strategy:
      matrix:
        include:
          - { result: Linux-x64, runs-on: ubuntu-22.04 }
          - { result: Windows-x64, runs-on: windows-2022 }
          - { result: Linux-arm, runs-on: ubuntu-22.04-arm }
          #- { result: Windows-arm, runs-on: windows-11-arm }
    
    runs-on: ${{ matrix.runs-on }}
    
    steps:
      - name: Checkout latest
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      
      - name: Install OpenCV (Linux)
        if: ${{ matrix.result == 'Linux-x64' || matrix.result == 'Linux-arm' }}
        run: |
          sudo apt update
          sudo apt install libopencv-dev
          
      #- name: Install OpenCV (Windows x64)
      #  if: ${{ matrix.result == 'Windows-x64' }}
      #  uses: johnwason/vcpkg-action@v7
      #  with:
      #    pkgs: opencv
      #    triplet: x64-windows-release
      #    token: ${{ github.token }}
          
      #- name: Install OpenCV (Windows ARM)
      #  if: ${{ matrix.result == 'Windows-arm' }}
      #  uses: johnwason/vcpkg-action@v7
      #  with:
      #    pkgs: opencv
      #    triplet: arm64-windows
      #    token: ${{ github.token }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.8
          
      - name: Install Pyinstaller
        run: |
          pip install pyinstaller
          pip install numpy
        working-directory: ./
        
      - name: Install Babble Data (Windows x64)
        if: ${{ matrix.result == 'Windows-x64' }}
        run: |
          pip install babble_data_win/babble_data-1.3-cp312-cp312-win_amd64.whl
          pip install -r requirements.txt
          
      - name: Install Babble Data
        if: ${{ matrix.result != 'Windows-x64' }}
        run: |
          cd babble_data
          python setup.py install
          cd ..
          pip install -r requirements.txt
          
      - name: Execute Pyinstaller
        run: pyinstaller BabbleTrainer.spec
        working-directory: ./
          
      - name: Create Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.result }}
          path: dist/
          
  release:
    needs: build
    if: ${{ github.event.inputs.publish-release == 'true' }}
    defaults:
      run:
        shell: bash
    
    runs-on: ubuntu-22.04
    
    permissions:
      contents: write
    
    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: Windows-x64
          path: ./artifacts/windows

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: Linux-x64
          path: ./artifacts/linux
          
      - name: Download Linux ARM artifact
        uses: actions/download-artifact@v4
        with:
          name: Linux-arm
          path: ./artifacts/linux-arm
          
      - name: Rename Artifacts
        run: |
          sudo mv artifacts/linux/BabbleTrainer artifacts/linux/BabbleTrainer-x64
          sudo mv artifacts/linux-arm/BabbleTrainer artifacts/linux-arm/BabbleTrainer-arm

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/windows/BabbleTrainer-x64.exe
            artifacts/linux/BabbleTrainer-x64
            artifacts/linux-arm/BabbleTrainer-arm
          tag_name: ${{ github.event.inputs.version-number }}
          prerelease: ${{ github.event.inputs.publish-pre-release }}