name: Build

on:
  workflow_dispatch:
    
jobs:
  build-windows:
    defaults:
      run:
        shell: bash
    
    runs-on: windows-2022
    
    steps:
      - name: Checkout latest
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          spec: 'BabbleTrainer.spec'
          python_ver: '3.12.8'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'Windows'

  build-linux:
    defaults:
      run:
        shell: bash
    
    runs-on: ubuntu-20.04
    
    steps:
      - name: Checkout latest
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          spec: 'BabbleTrainer.spec'
          python_ver: '3.12.8'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'Linux'