name: Build

on:
  workflow_dispatch:
    inputs:
      publish-release:
        description: 'Publish Release'
        type: boolean
        default: false
      publish-pre-release:
        description: 'Mark as Pre-Release'
        type: boolean
        default: false
      version-number:
        description: 'Version Number for Release'
        type: string
    
jobs:
  build:
    defaults:
      run:
        shell: bash
    
    strategy:
      matrix:
        include:
          - { result: Linux-x64, runs-on: ubuntu-22.04 }
          - { result: Windows-x64, runs-on: windows-2022 }
          - { result: Linux-arm, runs-on: ubuntu-22.04-arm }
    
    runs-on: ${{ matrix.runs-on }}
    
    steps:
      - name: Checkout latest
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          spec: 'BabbleTrainer.spec'
          python_ver: '3.12.8'
          requirements: 'requirements.txt'
          upload_exe_with_name: ${{ matrix.result }}
          
  release:
    needs: build
    if: ${{ github.event.inputs.publish-release == 'true' }}
    defaults:
      run:
        shell: bash
    
    runs-on: ubuntu-22.04
    
    permissions:
      contents: write
    
    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: Windows-x64
          path: ./artifacts/windows

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: Linux-x64
          path: ./artifacts/linux

      - name: Download Linux ARM artifact
        uses: actions/download-artifact@v4
        with:
          name: Linux-arm
          path: ./artifacts/linux-arm

      - name: Rename Artifacts
        run: |
          sudo mv artifacts/windows/BabbleTrainer.exe artifacts/windows/BabbleTrainer-x64.exe
          sudo mv artifacts/linux/BabbleTrainer artifacts/linux/BabbleTrainer-x64
          sudo mv artifacts/linux-arm/BabbleTrainer artifacts/linux-arm/BabbleTrainer-arm64

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/windows/BabbleTrainer-x64.exe
            artifacts/linux/BabbleTrainer-x64
            artifacts/linux-arm/BabbleTrainer-arm64
          tag_name: ${{ github.event.inputs.version-number }}
          prerelease: ${{ github.event.inputs.publish-pre-release }}