name: Build

on:
  workflow_dispatch:
    inputs:
      publish-release:
        description: 'Publish Release'
        type: boolean
        default: false
      publish-pre-release:
        description: 'Mark as Pre-Release'
        type: boolean
        default: false
      version-number:
        description: 'Version Number for Release'
        type: string
    
jobs:
  build:
    defaults:
      run:
        shell: bash
    
    strategy:
      matrix:
        include:
          - { result: Linux-x64, runs-on: ubuntu-22.04 }
          - { result: Windows-x64, runs-on: windows-2022 }
          - { result: Linux-arm, runs-on: ubuntu-22.04-arm }
          - { result: Windows-arm, runs-on: windows-2022-arm }
    
    runs-on: ${{ matrix.runs-on }}
    
    steps:
      - name: Checkout latest
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
          

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.11
          
      - name: Execute Pyinstaller
        run: |
          pip install pyinstaller
          pip install numpy
          python babble_data/setup.py install
          pip install -r requirements.txt
          pyinstaller BabbleTrainer.spec
        working-directory: ./
        
      - name: Create Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.result }}
          path: dist/
          
  release:
    needs: build
    if: ${{ github.event.inputs.publish-release == 'true' }}
    defaults:
      run:
        shell: bash
    
    runs-on: ubuntu-22.04
    
    permissions:
      contents: write
    
    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: Windows
          path: ./artifacts/windows

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: Linux
          path: ./artifacts/linux

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/windows/BabbleTrainer.exe
            artifacts/linux/BabbleTrainer
          tag_name: ${{ github.event.inputs.version-number }}
          prerelease: ${{ github.event.inputs.publish-pre-release }}